<!DOCTYPE html>
<html>
<head>
    <title>2-hbnb</title>
    <link rel="stylesheet" href="/static/styles.css?cache_id={{ cache_id }}">
    <link rel="stylesheet" href="/static/main.css?cache_id={{ cache_id }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/scripts/2-hbnb.js?cache_id={{ cache_id }}"></script>
</head>
<body>
    <!-- Rest of your HTML content -->

    <header>
        <!-- Existing code -->
        <div id="api_status" class="available"></div>
    </header>

    <!-- Rest of your HTML content -->
</body>
</html>
